<div class="container-fluid background-image" [style.background-image]="backgroundImageUrl">
  <div class="container-md text-center mt-5">
    <h1>Castillo de Villamalefa</h1>
    <h2>Programa de fiestas 2023</h2>
  </div>
  <div class="container-fluid">
    <div class="mt-5 row fixed-bottom mb-5">
      <div class="text-center">
        <div class="item">
          <div class="item-1">
            <add-to-calendar-button
              name="[reminder] Viernes 15"
              language="es"
              options="'Apple', 'Google', 'Microsoft 365'"
              buttonStyle="round"
              inline
              listStyle="modal"
              label="Viernes 15"
              styleLight="--btn-background: #0071BC; --btn-text: #fff; --bs-btn-border-color: #fff; --font-weight: 0 !important; --font: var(--bs-btn-font-family);"
              styleDark="--btn-background: #0071BC;  --btn-text: #fff; --bs-btn-border-color: #fff; --font-weight: 0 !important; --font: var(--bs-btn-font-family);"
              lightMode="bodyScheme"
              timeZone="Europe/Madrid"
              location="Castillo de Villamalefa"
              dates='[
                {
                  "name":"Presentación | Corte de Honor 2023 Castillo de Villamalefa en la Plaza \"Prao\"",
                  "description":"Presentación | Corte de Honor 2023 Castillo de Villamalefa en la Plaza \"Prao\"",
                  "startDate":"2023-09-15",
                  "endDate":"2023-09-15",
                  "startTime":"20:45",
                  "endTime":"21:15"
                },
                {
                  "name":"Cena de sobaquillo y bingo",
                  "description":"Cena de sobaquillo y bingo",
                  "startDate":"2023-09-15",
                  "endDate":"2023-09-15",
                  "startTime":"21:30",
                  "endTime":"23:30"
                },
                {
                  "name":"Embolada infantil patrocinada por \"Emboladores Castillo de Villamalefa\"",
                  "description":"Embolada infantil patrocinada por \"Emboladores Castillo de Villamalefa\"",
                  "startDate":"2023-09-15",
                  "endDate":"2023-09-16",
                  "startTime":"23:30",
                  "endTime":"00:00"
                },
                {
                  "name":"Concurso de emboladores con toros de la ganadería \"El Val\"",
                  "description":"Concurso de emboladores con toros de la ganadería \"El Val\". Con las cuadrillas: El Monosabio, Zucaina, Jose Ignacio, Fuego y a correr. A continuación Discomovil Zoom.",
                  "startDate":"2023-09-15",
                  "endDate":"2023-09-16",
                  "startTime":"23:59",
                  "endTime":"01:00"
                }
              ]'
            ></add-to-calendar-button>
          </div>
          <div class="item-2">
            <add-to-calendar-button
              name="[Reminder] Sábado 16"
              language="es"
              options="'Apple', 'Google', 'Microsoft 365'"
              buttonStyle="round"
              inline
              listStyle="modal"
              label="Sábado 16"
              styleLight="--btn-background: #0071BC; --btn-text: #fff; --bs-btn-border-color: #fff; --font-weight: 0 !important; --font: var(--bs-btn-font-family);"
              styleDark="--btn-background: #0071BC;  --btn-text: #fff; --bs-btn-border-color: #fff; --font-weight: 0 !important; --font: var(--bs-btn-font-family);"
              lightMode="bodyScheme"
              location="Castillo de Villamalefa"
              timeZone="Europe/Madrid"
              dates='[
                {
                  "name":"Parque infantil patrocinado por \"Excma. Diputación de Castellón\"",
                  "description":"Parque infantil patrocinado por \"Excma. Diputación de Castellón\"",
                  "startDate":"2023-09-16",
                  "endDate":"2023-09-16",
                  "startTime":"10:00",
                  "endTime":"12:00"
                },
                {
                  "name":"Encierro infantil patrocinado por \"“Emboladores Castillo de Villamalefa\"",
                  "description":"Encierro infantil patrocinado por \"“Emboladores Castillo de Villamalefa\"",
                  "startDate":"2023-09-16",
                  "endDate":"2023-09-16",
                  "startTime":"11:00",
                  "endTime":"11:30"
                },
                {
                  "name":"Concurso de chinos",
                  "description":"Concurso de chinos",
                  "startDate":"2023-09-16",
                  "endDate":"2023-09-16",
                  "startTime":"12:00",
                  "endTime":"14:00"
                },
                {
                  "name":"Concurso de paellas",
                  "description":"Concurso de paellas",
                  "startDate":"2023-09-16",
                  "endDate":"2023-09-16",
                  "startTime":"12:30",
                  "endTime":"14:30"
                },
                {
                  "name":"Salida de la iglesia para la procesión de bajada del Santo Cristo del Calvario, desde su Ermita hasta la parroquia",
                  "description":"Salida de la iglesia para la procesión de bajada del Santo Cristo del Calvario, desde su Ermita hasta la parroquia. Acompañada por la \"Unión Musical Llucenenca\"",
                  "startDate":"2023-09-16",
                  "endDate":"2023-09-16",
                  "startTime":"16:30",
                  "endTime":"18:30"
                },
                {
                  "name":"Grupo Silencio Roto patrocinado por la \"Asociación Cultural Taurina del Castillo de Villamalefa\" y la \"Excma. Diputación de Castellón\"",
                  "description":"Grupo Silencio Roto patrocinado por la \"Asociación Cultural Taurina del Castillo de Villamalefa\" y la \"Excma. Diputación de Castellón\"",
                  "startDate":"2023-09-16",
                  "endDate":"2023-09-16",
                  "startTime":"18:00",
                  "endTime":"20:00"
                },
                {
                  "name":"Exhibición de vacas de la ganadería \"El Val\"",
                  "description":"Exhibición de vacas de la ganadería \"El Val\"",
                  "startDate":"2023-09-16",
                  "endDate":"2023-09-16",
                  "startTime":"18:00",
                  "endTime":"22:00"
                },
                {
                  "name":"Prueba del toro de la ganadería \"El Val\" patrocinado por la \"Asociación Cultural Taurina del Castillo de Villamalefa\" Nº 21, Guarismo 9 de Nombre IMPETUOSO",
                  "description":"Prueba del toro de la ganadería \"El Val\" patrocinado por la \"Asociación Cultural Taurina del Castillo de Villamalefa\" Nº 21, Guarismo 9 de Nombre IMPETUOSO",
                  "startDate":"2023-09-16",
                  "endDate":"2023-09-16",
                  "startTime":"19:00",
                  "endTime":"19:05"
                },
                {
                  "name":"Prueba del toro de la ganadería \"El Val\" patrocinado por la \"Comisión de Fiestas\" Nº 15, Guarismo 9 de Nombre ROMPELUNAS",
                  "description":"Prueba del toro de la ganadería \"El Val\" patrocinado por la \"Comisión de Fiestas\" Nº 15, Guarismo 9 de Nombre ROMPELUNAS",
                  "startDate":"2023-09-16",
                  "endDate":"2023-09-16",
                  "startTime":"20:00",
                  "endTime":"20:05"
                },
                {
                  "name":"Embolada del toro Nº21, Guarismo 9 de Nombre Impetuoso de la ganadería \"El Val\". Patrocinado por la ACTCV",
                  "description":"Embolada del toro Nº21, Guarismo 9 de Nombre Impetuoso de la ganadería \"El Val\". Patrocinado por la ACTCV",
                  "startDate":"2023-09-16",
                  "endDate":"2023-09-17",
                  "startTime":"23:30",
                  "endTime":"00:30"
                },
                {
                  "name":"Embolada del toro Nº15, Guarismo 9 de Nombre Rompelunas de la ganadería \"El Val\". Patrocinado por la \"Comisión de Fiestas\"",
                  "description":"Embolada del toro Nº15, Guarismo 9 de Nombre Rompelunas de la ganadería \"El Val\". Patrocinado por la \"Comisión de Fiestas\"",
                  "startDate":"2023-09-17",
                  "endDate":"2023-09-17",
                  "startTime":"00:30",
                  "endTime":"01:30"
                },
                {
                  "name":"Actuación de Orquesta La Cobra. A continuación, discomóvil Space",
                  "description":"Actuación de Orquesta La Cobra. A continuación, discomóvil Space",
                  "startDate":"2023-09-17",
                  "endDate":"2023-09-17",
                  "startTime":"01:00",
                  "endTime":"06:00"
                }
              ]'
            ></add-to-calendar-button>
          </div>
          <div class="item-3">
            <add-to-calendar-button
              name="[Reminder] Domingo 17"
              language="es"
              options="'Apple', 'Google', 'Microsoft 365'"
              buttonStyle="round"
              inline
              listStyle="modal"
              label="Domingo 17"
              styleLight="--btn-background: #0071BC; --btn-text: #fff; --bs-btn-border-color: #fff; --font-weight: 0 !important; --font: var(--bs-btn-font-family);"
              styleDark="--btn-background: #0071BC;  --btn-text: #fff; --bs-btn-border-color: #fff; --font-weight: 0 !important; --font: var(--bs-btn-font-family);"
              lightMode="bodyScheme"
              location="Castillo de Villamalefa"
              timeZone="Europe/Madrid"
              dates='[
                {
                  "name":"Xarxa Teatre",
                  "description":"Xarxa Teatre",
                  "startDate":"2023-09-17",
                  "endDate":"2023-09-17",
                  "startTime":"10:30",
                  "endTime":"12:30"
                },
                {
                  "name":"Solemne eucaristía baturra y procesión en Honor a la Virgen del Pilar. Con el grupo Ecos de Aragón patrocinada por Ayuntamiento de Castillo de Villamalefa.",
                  "description":"Solemne eucaristía baturra y procesión en Honor a la Virgen del Pilar. Con el grupo Ecos de Aragón patrocinada por Ayuntamiento de Castillo de Villamalefa.",
                  "startDate":"2023-09-17",
                  "endDate":"2023-09-17",
                  "startTime":"12:00",
                  "endTime":"13:00"
                },
                {
                  "name":"Comida de socios en la Plaza \"Prao\"",
                  "description":"Comida de socios en la Plaza \"Prao\"",
                  "startDate":"2023-09-17",
                  "endDate":"2023-09-17",
                  "startTime":"14:00",
                  "endTime":"16:00"
                },
                {
                  "name":"Suelta de vaquillas de la ganadería \"El Val\"",
                  "description":"Suelta de vaquillas de la ganadería \"El Val\"",
                  "startDate":"2023-09-17",
                  "endDate":"2023-09-17",
                  "startTime":"18:00",
                  "endTime":"20:00"
                }
              ]'
            ></add-to-calendar-button>
          </div>
          <div class="item-4">
            <add-to-calendar-button
              name="[Reminder] Lunes 18"
              language="es"
              options="'Apple', 'Google', 'Microsoft 365'"
              buttonStyle="round"
              inline
              listStyle="modal"
              label="Lunes 18"
              styleLight="--btn-background: #0071BC; --btn-text: #fff; --bs-btn-border-color: #fff; --font-weight: 0 !important; --font: var(--bs-btn-font-family);"
              styleDark="--btn-background: #0071BC;  --btn-text: #fff; --bs-btn-border-color: #fff; --font-weight: 0 !important; --font: var(--bs-btn-font-family);"
              lightMode="bodyScheme"
              location="Castillo de Villamalefa"
              timeZone="Europe/Madrid"
              dates='[
                {
                  "name":"Volteo de campanas anunciando la solemnidad del día",
                  "description":"Volteo de campanas anunciando la solemnidad del día",
                  "startDate":"2023-09-18",
                  "endDate":"2023-09-18",
                  "startTime":"09:00",
                  "endTime":"10:00"
                },
                {
                  "name":"Comida de la Hermandad. Para asistir a la comida es necesaria la reserva de plaza. Telf. 696755807",
                  "description":"Comida de la Hermandad. Para asistir a la comida es necesaria la reserva de plaza. Telf. 696755807",
                  "startDate":"2023-09-18",
                  "endDate":"2023-09-18",
                  "startTime":"14:00",
                  "endTime":"16:00"
                },
                {
                  "name":"Eucaristía en Honor al Stmo. Cristo del Calvario",
                  "description":"Eucaristía en Honor al Stmo. Cristo del Calvario.  La parte musical correrá a cargo del guitarrista Juan Bautista Valverde y la cantante Lucia Grao. Después de misa tendrá lugar la procesión de retorno del Stmo. Cristo a su ermita del Calvario. A la llegada del ermitorio, breve homilía del predicador y después se cantarán los gozos, mientras los fieles pasan a venerar la imagen del Cristo",
                  "startDate":"2023-09-18",
                  "endDate":"2023-09-18",
                  "startTime":"18:00",
                  "endTime":"19:00"
                },
                {
                  "name":"Campeonato de guiñote",
                  "description":"Campeonato de guiñote",
                  "startDate":"2023-09-18",
                  "endDate":"2023-09-18",
                  "startTime":"21:00",
                  "endTime":"23:00"
                }
              ]'
            ></add-to-calendar-button>
          </div>
          <div class="item-5">
            <add-to-calendar-button
              name="[Reminder] Martes 19"
              language="es"
              options="'Apple', 'Google', 'Microsoft 365'"
              buttonStyle="round"
              inline
              listStyle="modal"
              label="Martes 19"
              styleLight="--btn-background: #0071BC; --btn-text: #fff; --bs-btn-border-color: #fff; --font-weight: 0 !important; --font: var(--bs-btn-font-family);"
              styleDark="--btn-background: #0071BC;  --btn-text: #fff; --bs-btn-border-color: #fff; --font-weight: 0 !important; --font: var(--bs-btn-font-family);"
              lightMode="bodyScheme"
              location="Castillo de Villamalefa"
              timeZone="Europe/Madrid"
              dates='[
                {
                  "name":"Concurso de tortillas y cena fin de fiestas amenizada por Felipe Show",
                  "description":"Concurso de tortillas y cena fin de fiestas amenizada por Felipe Show",
                  "startDate":"2023-09-19",
                  "endDate":"2023-09-19",
                  "startTime":"20:00",
                  "endTime":"23:59"
                }
              ]'
            ></add-to-calendar-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
