.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 3em !important;
}

h1, h2 {
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke: 1.5px #0071BC;
}

h1 {
  font-size: xx-large;
}

.item {
  position: absolute;
  padding: 15px;
  left:50%;
  .item-1 {
    transform: translateY(calc(-500%)) translateX(calc(-50% - 10px));
  }
  .item-2 {
    transform: translateY(calc(-490%)) translateX(calc(-50% - 10px));
  }
  .item-3 {
    transform: translateY(calc(-480%)) translateX(calc(-50% - 10px));
  }
  .item-4 {
    transform: translateY(calc(-470%)) translateX(calc(-50% - 10px));
  }
  .item-5 {
    transform: translateY(calc(-460%)) translateX(calc(-50% - 10px));
  }
}
