<div class="container-fluid background-image" [style.background-image]="backgroundImageUrl">
  <div class="container-md text-center mt-5">
    <h1>Castillo de Villamalefa</h1>
  </div>
  <div class="container-md">
    <div class="row fixed-bottom mb-5 d-flex justify-content-center text-center">
      <h2>Programa de fiestas 2023</h2>
        <div class="btn-group" role="group" aria-label="Basic example">
          <add-to-calendar-button
            name="Title"
            options="'Apple','Google'"
            location="World Wide Web"
            startDate="2023-07-16"
            endDate="2023-07-16"
            startTime="10:15"
            endTime="23:30"
            timeZone="America/Los_Angeles"
            debug
          ></add-to-calendar-button>
          <button type="button" class="btn btn-primary m-1 rounded-pill">Descargar</button>
          <button type="button" class="btn btn-primary m-1 rounded-pill">¡Al calendario!</button>
        </div>
    </div>
  </div>
</div>
